{% extends 'base.html' %}

{% block pageheading %}
  {% include 'pageheading-small.html' %}
  {% block navigation %}
    {% include 'navigation.html' %}
  {% endblock %}
{% endblock %}


{% block sidebar %}
    <!-- start: author -->
    <div>
        <h5 class="uk-text-danger">Author</h5>
        <!-- <ul class="t"> -->
        <ul class="uk-comment-list">
            <li>
                <article class="uk-comment" role="comment">
                    <header class="uk-comment-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-comment-avatar uk-border-circle" src="{{blog.author.avatar.url}}"
                                    width="80" height="80" alt="">
                            </div>
                            <section class="uk-width-expand">
                                <h5 class="uk-comment-title uk-margin-remove uk-link-reset"><a
                                        href="{% url 'user-profile' blog.author.id %}">@{{blog.author.username}}</a></h5>
                                <time class="uk-comment-meta mdc-text-tiny">{{blog.author.email}}</time>
                            </section>
                            <small>{{blog.author.bio|truncatewords_html:50}}</small>
                        </div>
                    </header>
                </article>
            </li>
        </ul>
    </div>
    <!-- end: author -->
    {% if related_posts|length %}
    <!-- start: related Posts -->
    <div>
        <h5 class="uk-text-danger">Related Posts</h5>
        <ul class="uk-nav uk-nav-secondary">

            {% for post in related_posts %}
            <li><a href="{% url 'page-blog' post.id %}">
              
                <div><div class="uk-nav-subtitle">{{post.title}}</div><span class="mdc-text-tiny">Written by <b>@{{post.author.username}}</b> {{post.created|timesince}} ago</span></div>
            </a></li>
        <li>
            {% endfor %}
        </ul>
    </div>
    <!-- end: related Posts -->
    {% endif %}

    {% include 'blog/list_sidebar_topics.html' %}
    {% include 'blog/list_sidebar_recentactivity.html' %}

    <!-- start: back button -->
    <small><a href="{% url 'page-blogs' %}" class="uk-text-danger mdc-link-no-line"><span uk-icon="icon: arrow-left"></span>back to the blog</a></small>
    <!-- end: back button -->
    
{% endblock %}

{% block content %}
    <section class="uk-margin-medium-bottom">
        
        <h2 class="uk-text-secondary uk-margin-remove-bottom uk-margin-remove-top">{{ blog.title }}{% if request.user == blog.author %}  <a class="uk-text-small mdc-link-no-line" href="{% url 'update-blog' blog.id %}">✏️Edit Blog</a>  <a class="delete-blog uk-text-small mdc-link-no-line" data-postType="blog" data-title="{{blog.title}}"  href="{% url 'delete-blog' blog.id %}">❌ Delete</a>{% endif %}</h2>
        <small class="uk-text-muted"><h5 class="uk-text-danger uk-margin-remove-bottom"><span uk-icon="tag"></span> {{blog.topic|title}}</h5>
            Written by <a href="{% url 'user-profile' blog.author.id %}">@{{ blog.author }}</a> {{ blog.created|timesince }} ago.
        </small>
    </section>

    <div id="wrapper-content" class="uk-dropcap uk-text-justify margin-bottom-medium">
    {% if blog.featured_image %}
        <img src="{{blog.featured_image.url}}" alt="" class="uk-width-expand">
    {% endif %}
    {{ blog.description|linebreaksbr }}
    </div>

    <!-- start: comment section -->
    <div>
        {% if request.user.is_authenticated %}
        <!-- start: comment form -->
        <form method="post" action="" class="uk-margin-large-top" id="section-form-comment">
            {% csrf_token %}
            <fieldset class="uk-fieldset">
                <legend class="uk-legend uk-text-normal">
                  {%if thecomment%}
                  Edit comment
                  {%else%}
                  Write a comment
                  {%endif%}
                
                </legend>
                <div class="uk-margin">
                    <textarea class="uk-textarea" rows="5" placeholder="Write your message here..." aria-label="Textarea"  name="comment">{{thecomment}}</textarea>
                    <input type="submit" class="uk-button uk-button-primary uk-margin-small-top" value="Submit" />
                    {%if thecomment%}
                    <a class="uk-button uk-button-danger uk-margin-small-top" href="{%url 'page-blog' blog.id%}">Cancel edit</a>
                    {%endif%}
                </div>
            </fieldset>
        </form>
        <!-- end: comment form -->
        {% endif %}

        {% if comments|length > 0 %}
        <h5 class="uk-text-danger uk-margin-large-top"><span uk-icon="icon: comments" id="section-list-comments"></span> Comments</h5>
        <ul class="uk-comment-list" uk-scrollspy="cls: uk-animation-fade; target: .uk-comment; delay: 200;">
            {% for comment in comments %}
            <li>
                <article class="uk-comment" role="comment">
                    <header class="uk-comment-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-comment-avatar uk-border-circle" src="{{comment.author.avatar.url}}"
                                    width="80" height="80" alt="">
                            </div>
                            <section class="uk-width-expand">
                                <h4 class="uk-comment-title uk-margin-remove uk-link-reset"><a
                                        href="{% url 'user-profile' comment.author.id %}">@{{ comment.author.username }}</a></h4>
                                <small class="uk-comment-meta">{{ comment.created|timesince }} ago</small>
                                {% if request.user == comment.author %}
          |                       
                                <small class="uk-comment-meta"><a class="delete-comment mdc-link-no-line" data-postType="comment" data-title="{{comment.comment|linebreaksbr|truncatewords:10}}" href="{% url 'delete-comment' comment.blog.id comment.id %}">❌ Delete</a> <a class="mdc-link-no-line" href="{% url 'update-comment' comment.blog.id comment.id %}#section-form-comment">✏️ Edit</a></small>
                                {% endif %}
                            </section>
                        </div>
                    </header>
                    <div class="uk-comment-body uk-text-small uk-text-justify">
                        {{ comment.comment|linebreaksbr }}
                    </div>
                </article>
            </li>
          {% endfor %}    
        </ul>

        {%endif%}
    </div>
    <!-- end: comment section -->
    <script>
      document.querySelectorAll('.delete-comment').forEach( button => {
          button.onclick = function (e) {
              if(!confirm(`You are about to delete the ${this.getAttribute('data-postType')}.\n "${this.getAttribute('data-title')}."\nClick okay to continue`))
                  e.preventDefault();
          }
      });

      document.querySelectorAll('.delete-blog').forEach( button => {
        button.onclick = function (e) {
            if(!confirm(`You are about to delete the ${this.getAttribute('data-postType')} with title "${this.getAttribute('data-title')}."\nSure na?`))
                e.preventDefault();
        }
    });
  </script>
{% endblock %}



{% comment %} {% extends 'base.html' %}

{% block pagetitle %}
  <header class="space-y-1 pb-8 pt-6 md:space-y-5">
    <time class="text-base font-medium leading-6 text-gray-400">{{ blog.created }}</time>
    <h1 class="text-3xl font-bold leading-9 tracking-tight text-gray-900 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14">{{ blog.title }}</h1><p class="text-lg leading-7 text-gray-400"><img width="50px" src="{{ blog.author.avatar.url }}" alt="{{blog.author}}" /> {{ blog.author }}</p>
  </header>
{% endblock %}



{% block sidebar_left %}
  <div class="hidden max-h-screen h-full sm:flex flex-wrap bg-gray-50 dark:bg-gray-900/70 shadow-md pt-5 dark:shadow-gray-800/40 rounded min-w-[280px] max-w-[280px] sticky top-28">
    {% include 'blog\list_sidebar_topics.html' %}
  </div>
{% endblock %}

{% block content %}
  <div class="w-full">
    <article>
      {% if blog.featured_image %}
      <img src="{{blog.featured_image.url}}" alt="">
      {% endif %}
      {{ blog.description|linebreaksbr }}</article>
  <div class="wrapper-comment">
    <br />
    <p>Comments</p>
    {% for comment in comments %}
      <small>
        <a href="{% url 'user-profile' comment.author.id %}">👨‍🦰 @{{ comment.author }} </a>| {{ comment.created|timesince }} ago
        {% if request.user == comment.author %}
          | <a href="{% url 'delete-comment' comment.blog.id comment.id %}">❌ Delete</a>
        {% endif %}
      </small>
      <section>{{ comment.comment }}</section>
      <hr />
      {% empty %}
      <small>No comments yet.</small>
    {% endfor %}
  </div>

  {% if request.user.is_authenticated %}
    <div class="wrapper-form mt-20">
      <form method="post" action="">
        {% csrf_token %}
        <input name="comment" type="text" placeholder="Write your message here..." />
      </form>
    </div>
  {% endif %}

  <div class="wrapper-participants">
    <h2>Particpants</h2>
    {% for user in participants %}
      <small><a href="{% url 'user-profile' user.id %}"></a>👨‍🦰 @{{ user }}</small>
    {% endfor %}
  </div>
  </div>
{% endblock %}

 {% endcomment %}
