{% extends 'base.html' %}

{% block pageheading %}
  {% include 'pageheading-small.html' %}
  {% block navigation %}
    {% include 'navigation.html' %}
  {% endblock %}
{% endblock %}


{% block sidebar %}
    {% if blog %}
    <!-- start: author -->
    <div>
        <h5 class="uk-text-danger">Author</h5>
        <!-- <ul class="t"> -->
        <ul class="uk-comment-list">
            <li>
                <article class="uk-comment" role="comment">
                    <header class="uk-comment-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-comment-avatar uk-border-circle" src="{{blog.author.avatar.url}}"
                                    width="80" height="80" alt="">
                            </div>
                            <section class="uk-width-expand">
                                <h5 class="uk-comment-title uk-margin-remove uk-link-reset"><a
                                        href="{% url 'user-profile' blog.author.id %}">@{{blog.author.username}}</a></h5>
                                <time class="uk-comment-meta">{{blog.author.email}}</time>
                            </section>
                        </div>
                    </header>
                </article>
            </li>
        </ul>
    </div>
    <!-- end: author -->
    {%endif%}
    {% if related_posts|length %}
    <!-- start: related Posts -->
    <div>
        <h5 class="uk-text-danger">Related Posts</h5>
        <ul class="uk-nav uk-nav-secondary">

            {% for post in related_posts %}
            <li><a href="{% url 'page-blog' post.id %}">
                <div>@{{post.author.username}} | {{post.created|timesince}} ago<div class="uk-nav-subtitle">{{post.title}}</div>
                </div>
            </a></li>
        <li>
            {% endfor %}
        </ul>
    </div>
    <!-- end: related Posts -->
    {% endif %}

    {% include 'blog/list_sidebar_topics.html' %}
    {% include 'blog/list_sidebar_recentactivity.html' %}

    <!-- start: back button -->
    <small><a href="{% url 'page-blogs' %}" class="uk-text-danger mdc-link-no-line"><span uk-icon="icon: arrow-left"></span>back to the blog</a></small>
    <!-- end: back button -->
    
{% endblock %}

{% block content %}
    <section class="uk-margin-medium-bottom">
        {% comment %} <h2 class="uk-text-secondary uk-margin-remove-bottom uk-margin-remove-top">{{pagetitle}}</h2> {% endcomment %}
        {% comment %} <small class="uk-text-muted"><h5 class="uk-text-danger uk-margin-remove-bottom"><span uk-icon="tag"></span> {{blog.topic|title}}</h5>
            Written by <a href="{% url 'user-profile' blog.author.id %}">{{ blog.author }}</a> {{ blog.created|timesince }} ago.
        </small> {% endcomment %}
    </section>

    <div id="wrapper-content">
    
      

      <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
    
        <section class="uk-margin" uk-margin>
          <h4 class="uk-margin-remove-bottom"><label for="blog-topic">Topic</label></h4>
          
          <input type="text" name="topic" value="{{ blog.topic }}"  required list="topic-list" class="uk-input uk-form-large uk-width-xlarge@m" id="blog-topic">
          <datalist id="topic-list">
            <select>
              {% for topic in topics %}
                <option value="{{ topic.name }}">{{ topic.name }}</option>
              {% endfor %}
            </select>
          </datalist>
        </section>
    
        <section class="uk-margin" uk-margin>
          <h4 class="uk-margin-remove-bottom"><label for="id_title">Title</label></h4>
          {% comment %} {{ form.title }} {% endcomment %}
          <input type="text" name="title" value="{{ blog.title }}"  required class="uk-input uk-form-large uk-width-xlarge@m" id="id_title">
        </section>
    
        <section class="uk-margin" uk-margin>
          <h4 class="uk-margin-remove-bottom"><label for="id_description">Body</label></h4>
          {% comment %} {{ form.description }} {% endcomment %}
          <textarea name="description" cols="40" rows="10" id="id_description" spellcheck="false" class="uk-textarea uk-form-large uk-width-expand" aria-label="Textarea">{{blog.description}}</textarea>

        </section>
    
        {% comment %} <section class="uk-margin" uk-margin>
          <h4 class="uk-margin-remove-bottom"><label for="blog-topic">Featured Image</label></h4>
          {{ form.featured_image }}
        </section> {% endcomment %}

        <style>
          #mdc-workaround-remove-fileinput input[type=file]{
            display: none;
          }
        </style>

      <section class="uk-margin" uk-margin>
        <h4 class="uk-margin-remove-bottom"><label>Featured Image</label></h4>
        <div id="mdc-workaround-remove-fileinput">
        {{ form.featured_image }}
        </div>
        <div uk-form-custom="target: true">
            <input type="file" aria-label="Custom controls" name="featured_image" accept="image/*" id="id_featured_image">
            <input class="uk-input uk-form-large uk-width-xlarge@m" type="text" placeholder="Select file" aria-label="Custom controls" disabled>
        </div>
      </section>
    
        <section class="uk-margin" uk-margin>
          <input type="submit" class="uk-button-primary uk-form-large uk-margin-medium-top" value="Submit" />
        </section>
      </form>
    </div>   
{% endblock %}










{% comment %} {% extends 'base.html' %}

{% block pagetitle %}
  <header class="space-y-1 pb-8 pt-6 md:space-y-5">
    <h1 class="text-3xl font-bold leading-9 tracking-tight text-gray-900 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14">{{ pagetitle }}</h1><p class="text-lg leading-7 text-gray-400">Add blog description here</p>
  </header>
{% endblock %}

{% block content %}
  <form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}

    <section>
      <h4><label for="blog-topic">Topic</label></h4>
      <input type="text" name="topic" value="{{ blog.topic }}" required list="topic-list" />
      <datalist id="topic-list">
        <select>
          {% for topic in topics %}
            <option value="{{ topic.name }}">{{ topic.name }}</option>
          {% endfor %}
        </select>
      </datalist>
    </section>

    <section>
      <h4><label for="blog-topic">Title</label></h4>
      {{ form.title }}
    </section>

    <section>
      <h4><label for="blog-topic">Body</label></h4>
      {{ form.description }}
    </section>

    <section>
      <h4><label for="blog-topic">Featured Image</label></h4>
      {{ form.featured_image }}
    </section>

    <input type="submit" value="Submit" />
  </form>
{% endblock %}
 {% endcomment %}