{% extends 'base.html' %}

{% block pagetitle %}
  <header class="space-y-1 pb-8 pt-6 md:space-y-5">
    <h1 class="text-3xl font-bold leading-9 tracking-tight text-gray-900 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14">{{ pagetitle }}</h1><p class="text-lg leading-7 text-gray-400">Add blog description here</p>
  </header>
{% endblock %}

{% block content %}
  <form method="post" action="">
    {% csrf_token %}

    <section>
      <h4><label for="blog-topic">Topic</label></h4>
      <input type="text" name="topic" value="{{blog.topic}}" required list="topic-list" />
      <datalist id="topic-list">
        <select>
          {% for topic in topics %}
            <option value="{{ topic.name }}">{{ topic.name }}</option>
          {% endfor %}
        </select>
      </datalist>
    </section>

    <section>
      <h4><label for="blog-topic">Title</label></h4>
      {{ form.title }}
    </section>

    <section>
      <h4><label for="blog-topic">Body</label></h4>
      {{ form.description }}
    </section>

    <input type="submit" value="Submit" />
  </form>
{% endblock %}
