    {% comment %} <div class="py-4 px-6">
      <!--<h3 class="text-primary-500 font-bold uppercase">All</h3>-->
      
      <ul>
      <li class="my-3">
          <a class="py-2 px-3 uppercase text-sm font-medium text-gray-500 dark:text-gray-300 hover:text-primary-500 dark:hover:text-primary-500" aria-label="View posts tagged next-js" href="{% url 'page-blogs' %}">All Topics ({{topics.count}})</a>
        </li>
          {% for topic in topics %}
          <li class="my-3">
              <a class="py-2 px-3 uppercase text-sm font-medium text-gray-500 dark:text-gray-300 hover:text-primary-500 dark:hover:text-primary-500" aria-label="View posts tagged next-js" href="{% url 'page-blogs' %}?q={{topic.name}}">{{topic.name}} ({{topic.blogcount}})</a>
            </li>
        {% endfor %}
        
      </ul>

    </div>

 {% endcomment %}

{% if topics|length %}
<div>
<h5 class="uk-text-danger">Topics</h5>
<ul class="uk-subnav uk-subnav-pill uk-text-small" uk-margin>
  <li class="uk-active" uk-filter-control><a class="uk-border-pill" href="javascript:vod(0)">All <span class="uk-badge uk-margin-small-left">{{topics.count}}</span></a></li>
  {% for topic in topics %}
    <li uk-filter-control="[data-topic='{{topic.name}}']"><a class="uk-border-pill"
      href="#">{{topic.name}}<span class="uk-badge uk-margin-small-left">{{topic.blogcount}}</span></a>
    </li>
  {% endfor %}
</ul>
</div>
{% endif %}