{% comment %} <div class="py-4 px-6">
  <!-- <h3 class="text-primary-500 font-bold uppercase">All</h3> -->

  <ul>
    <li class="my-3 pt-50">
      <h3>Recent Activity</h3>
    </li>
    {% for comment in recent_activity %}
      <li class="my-3">
        <small>
          <a href="{% url 'user-profile' comment.author.id %}">👨‍🦰 {{ comment.author }}</a> | {{ comment.created|timesince }} ago
          {% if request.user == comment.author %}
            | <a href="{% url 'delete-comment' comment.blog.id comment.id %}">❌ Delete</a>
          {% endif %}
          <h4>Replied to "{{comment.blog}}"</h4>
        </small>
        <p>{{ comment.comment|truncatewords_html:10 }}</p>
        <hr />
        {% empty %}
        <small>No comments yet.</small>
      </li>
    {% endfor %}
  </ul>

  <h2>Recent</h2>
<ul>
  {% for activity in recent %}
  <li>{{activity.action}}</li>
  {% endfor %}
</ul>
</div> {% endcomment %}

{% if recent|length %}

{% load static %}
<div>
<h5 class="uk-text-danger uk-margin-remove-bottom">Recent Updates</h5>
<ul class="uk-comment-list uk-margin-remove-top">
  {% for activity in recent %}
    <li class="uk-margin-small-top">
        <article class="uk-padding-small" role="comment">
            <header class="uk-comment-header uk-margin-remove-bottom">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-comment-avatar uk-border-circle" src="{% get_media_prefix %}{{ activity.author__avatar }}"
                            width="65" height="65" alt="">
                    </div>
                    <section class="uk-width-expand">
                        <h5 class="uk-margin-remove uk-link-reset"><a
                                href="{% url 'user-profile' activity.author %}">@{{ activity.author__username }}</a></h5>
                        <time class="uk-comment-meta uk-text-small">{{ activity.updated|timesince }} ago</time>
                    </section>
                </div>
            </header>
            <div class="uk-comment-body uk-text-small">
              <small class="uk-text-muted">
                {% if activity.isupdated %}
                  {{activity.action2}}
                {% else %}
                {{activity.action1}}
                {% endif %}
                "{{activity.title}}"</small>
              {% if activity.comment%}
                  <p class="uk-margin-remove uk-padding-small uk-border-rounded uk-background-muted">{{ activity.comment|truncatewords_html:8}}</p>
              {% endif %}
            </div>
        </article>
    </li>
    {% endfor %}
</ul>
</div>
{% endif %}