{% load static %}
<div id="image-header" class="mdc-header-image uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-padding-small uk-padding-remove-bottom" data-src="{% static 'images/o2.jpg' %}" uk-img>
    <section class="uk-text-center uk-light">
        <h1 class="uk-heading-medium uk-text-bold uk-margin-remove">
            kaBlog.
        </h1>
        <h4 class="uk-margin-remove-top">Your Gateway to Thought-Provoking
            Articles and
            Inspiring Insights</h4>
    </section>

    {% block navigation %}
    {% endblock navigation %}
</div>